
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

body {
	background-color: #f5f5dc;
	overflow-x: hidden;
}

nav > a {
	text-decoration: none;
}

nav > a: visited {
	color: white;
}